@import 'scss/variables.scss';

.movie {
  margin: 2.25rem 1rem;
  padding: 1rem;
  background-color: $black;
  box-shadow: 0 2px 8px rgba($black, 0.26);
  border-radius: 12px;
  text-align: center;
  color: $white;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__date {
    font-size: 1.1rem;
  }

  &__opening {
    margin-top: -1.5rem;
    line-height: 1.8rem;
    transform-origin: bottom center;
    transform: perspective(12rem) rotateX(14deg);
  }
}
