@import 'scss/variables.scss';

.app {
  &__section {
    margin: 2rem 0;
    text-align: center;
    border-radius: .5rem;
  }

  &__btn {
    font: inherit;
    cursor: pointer;
    background: $primary;
    border: 1px solid $primary;
    color: $black;
    padding: 0.75rem 2rem;
    border-radius: 2rem;

    &--loading {
      animation: btn-pulse 1s linear infinite alternate;
    }

    &:focus {
      outline: none;
    }

    &:hover, &:active {
      background-color: $white;
      border-color: $white;
    }
  }

  @keyframes btn-pulse {
    100% {
      background-color: $white;
      border-color: $white;
    } 
  }
}
